body{
    background-color: rgb(230, 230, 230);
}


#project_title {
    font-size: 80px;
}

#header_wrap {
    display: block;
    width: 100%;
    top: 0px;
    background-color: rgb(197, 233, 233);
    margin: 0;

}

#header_wrap.inner {
    height: 180px;


}

#pdf-js-viewer {
    width: 100%;
    height: calc(100vw * .71 + 5px);

}
